<div class="commission-header">
  <div class="header-content">
    <div class="title-group">
      <div class="title-icon">
        <svg
          width="18"
          height="18"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
        >
          <path d="M12 2L2 7l10 5 10-5-10-5z" />
          <path d="M2 17l10 5 10-5M2 12l10 5 10-5" />
        </svg>
      </div>
      <div>
        <p class="header-label">Configuration</p>
        <h3 class="header-title">Commission Split</h3>
      </div>
    </div>
    <button class="btn-add" (click)="OpenDialog()">
      <span class="btn-icon">+</span>
      <span>Add Commission Split</span>
    </button>
  </div>
</div>
<div [hidden]="isloading" class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="VendorPercentage">
      <th mat-header-cell *matHeaderCellDef>Vendor Percentage</th>
      <td mat-cell *matCellDef="let element">
        {{ element.VendorPercentage }}
      </td>
    </ng-container>

    <!-- Level1Percentage Column -->
    <ng-container matColumnDef="Level1Percentage">
      <th mat-header-cell *matHeaderCellDef>Level 1 Percentage</th>
      <td mat-cell *matCellDef="let element">
        {{ element.Level1EmployeePercentage }}
      </td>
    </ng-container>

    <!-- Level2Percentage Column -->
    <ng-container matColumnDef="Level2Percentage">
      <th mat-header-cell *matHeaderCellDef>Level 2 Percentage</th>
      <td mat-cell *matCellDef="let element">
        {{ element.Level2EmployeePercentage }}
      </td>
    </ng-container>

    <!-- Level3Percentage Column -->
    <ng-container matColumnDef="Level3Percentage">
      <th mat-header-cell *matHeaderCellDef>Level 3 Percentage</th>
      <td mat-cell *matCellDef="let element">
        {{ element.Level3EmployeePercentage }}
      </td>
    </ng-container>

    <!-- Level4Percentage Column -->
    <ng-container matColumnDef="Level4Percentage">
      <th mat-header-cell *matHeaderCellDef>Level 4 Percentage</th>
      <td mat-cell *matCellDef="let element">
        {{ element.Level4EmployeePercentage }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          style="color: #6bd098"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          (click)="OpenDialog(element.EmployeeId)"
          >visibility
        </mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
<div [hidden]="!isloading">
  <div class="d-flex justify-content-center">
    <app-loader></app-loader>
  </div>
</div>
